<!DOCTYPE html>
<html lang="en" ng-app="todoApp">
<head>
  <meta charset="utf-8">

  <title>MassiToDo</title>

  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="public/javascripts/todoAppController.js"></script>
</head>


<body ng-controller="MainController as mainCtrl">

  <header> {{ MainCtrl.title }} </header>

  <section id="main">

    <div id="add">
      <form id="todo-form" ng-submit="addTodo()">
          <input id="newTodoDescription" placeholder="What needs to be done?" type="text" ng-model="newTodoDescription" name="text" autofocus>
          <button id="addTodo" >Add</button>
      </form>
    </div>

    <div id="list">
        <ul>
      <li ng-repeat="task in tasks" class="todoText">
          {{ task.description }}
      </li>
  </ul>
    </div>

  </section>

  <footer></footer>


</body>

</html>