<!DOCTYPE html>
<html lang="en" ng-app="todoApp">
<head>
  <meta charset="utf-8">

  <title>MassiToDo</title>

  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="public/stylesheets/style.css">
  <script src="bower_components/underscore/underscore.js"></script>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>

  <script src="public/javascripts/todoAppController.js"></script>
</head>


<body ng-controller="MainController as mainCtrl">

  <header> {{ mainCtrl.title }} </header>

  <section id="main">

    <div id="add">
      <form id="todo-form" ng-submit="addTodo()">
          <input id="newTodoDescription" placeholder="do something!!!" type="text" ng-model="newTodoDescription" name="text" required>
          <button id="addTodo" class="btn">Add</button>
      </form>
    </div>

    <div id="list" >
        <ul style="list-style-type:none">
      <li ng-repeat="task in tasks" class="todoText" class="inline">
          <input class='checkbox inline' type="checkbox" ng-model="task.done" >  <span class="done-{{task.done}}"> {{ task.description }} </span>
      </li>
  </ul>

  <button class="btn" ng-click="clearFinishedTodos()">Clear completed</button>
    </div>

  </section>

  <footer></footer>


</body>

</html>